/*******************************
 MeyerWeb reset
*******************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: decimal;
  padding-left: 20px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*******************************
 General styling
*******************************/

html {
  font-family: 'Open Sans', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 300;
  overflow: auto;
}

body {
  width: 100%;
  max-width: 100%;
  min-width: 900px;
  height: 100%;
  max-height: 100%;
  min-height: 750px;
  margin: auto;
  padding: 0;
  top: 0;
  left: 0;
  text-align: justify;
  position: absolute;
  background-color: #f8f8f8;
  color: #2F353B;
  overflow: auto;
}

.content {
  width: 800px;
  max-width: 800px;
  min-width: 800px;
  height: auto;
  margin: 15px auto 0 auto;
  position: relative;
}

/*******************************
 Titles, subtitles, parts
*******************************/

.title {
  text-align: center;
}

h1 {
  color: #bbb349;
  font-size: 2.5em;
  font-weight: 700;
}

h2 {
  color: #999;
  font-size: 2em;
  font-weight: 400;
  padding-top: 20px;
}

/*******************************
 Chapters, headings,
 subheadings
*******************************/

h3 {
  color: #2F353B;
  font-size: 1.5em;
  font-weight: 400;
  text-align: left;
  padding-top: 20px;
}

h4 {
  color: #999;
  font-size: 1.25em;
  font-weight: 300;
  text-align: left;
  padding-top: 20px;
}

a, a:visited {
  text-decoration: none;
  color: #24890d;
  font-weight: 400;

}

a:active, a:hover {
  text-decoration: none;
  color: #41a62a;
}

/*******************************
 Chapter internal styling
*******************************/

p {
  padding: 10px 0 10px 0;
  font-size: 1.15em;
  color: #2F353B;
}

.quote {
  width: 85%;
  padding-left: 20px;
  border-left: #24890d;
}

.dt {
  font-weight: 400;
  color: #24890d;
}

.dd {
  font-weight: 300;
  font-style: italic;
  margin-bottom: 15px;
  text-align: left;
}

img {
  margin: 20px 0 0px 0;
  padding: 0 0 0 20px;
  border-left: 5px #24890d solid;
  display: block;
}

.figure {
  width: 700px;
  margin: 0 0 0 20px;
  padding: 3px 3px 3px 3px;
  font-weight: 300;
  font-size: 0.8em;
  font-style: italic;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  background-color: #F9F9F9;
  display: block;
}

.exercises {
  margin: 0 0 15px 0;
}

/*******************************
 Code blocks
*******************************/

.inline {
  font: 12px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
  color: #F9F9F9;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  background-color: #52595d;
  padding: 0px 3px;
  display: inline-block;
}

code {
  font: 12px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
  color: #F9F9F9;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  background-color: #52595d;
  padding: 2px 5px 2px 15px;
  display: block;
  margin: 10px 0 10px 0;
}

/*******************************
 Chapter navigation
*******************************/

.nav {
  margin: 10px auto 20px auto;
  width: 800px;
  text-align: center;
  position: relative;
}

.nav ul li {
  list-style: none;
  display: inline;
  font-size: 1.15em;
  font-weight: 300;
  padding-right: 30px;
  position: relative;
}